body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(/img/img.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 40%;
    max-width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    background-color: white;
    padding: 30px;
    transform: translate(-50%, -50%);
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #3c00ae;
    position: relative;

}

.form-box h1::after {
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background: #3c00ae;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #d7d5d5;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 18px 18px;
}

.input-field i {
    margin-left: 5%;
    color: gray;
}

form p {
    text-align: left;
    font-size: 10px;
}

form p a {
    text-decoration: none;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable {
    background: #d7d5d5;
    color: #555;
}

.input-group {
    height: 250px;
}